.navbar{
    width: 100%;
    
    color: white;
    position: fixed;
    font-size: 14px;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%,rgb(0,0,0,0.3) 50%);
}
.navbarscrolled{
    width: 100%;
background-color: #0b0b0b;
position: fixed;
z-index: 999;
}
.right{
    position: absolute;
    left: 1200px ;
    top: 3px;
    
   

}

.container{
    height: 150px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    display: flex;
    align-items: center;  
}
    .logo{
        
            height: 60px;
            margin-right: 40px;
        

    

}


.search{
    margin-top: 40px;
    cursor: pointer;
}
.icon1{
    
    margin: 40px 20px;
    cursor: pointer;

}
.notify{
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;

}

.profile{
    position: relative;
  display: inline-block;
  background-color: #000;
  border-radius: 15px;
}
.options{
    display: none;
  position: absolute;
  
  
 background-color: #0b0b0b;
  
}

.options span
{padding: 15px;
cursor: pointer;
}
.options span:hover
{
background-color: brown;
}
.profile:hover .options {
  display: flex;
  flex-direction: column;
}



.title{
    
    margin: 0px 15px;
    cursor: pointer;
    
}


.user{
    margin-top: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
}